* {
    box-sizing: border-box;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #53836e;
    flex-direction: column;
}

.link {
    width: 5rem;
    height: 5rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    background-color: #29654A;
}
.link:hover {
    background-color: rgba(41, 101, 74, 0.7);
}
.link.active {
    background-color: #53836e;
}

router-outlet {
    width: 100%;
    height: 100%;
}